.rows{
    color: white;
    margin-left: 55px;
    margin-bottom: 40px;
}
.posters{
    display: flex;
   
    overflow: hidden;
    overflow-x: scroll;
    
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 9rem;
    object-fit: contain;
    margin-right: 7px;
    z-index: 99999;
    border-radius: 4px;
}
.font{
    font-size: 21px;
    margin-bottom: 14px;
}