@media screen and (max-width: 660px) {
    #banner-contain{
        height: 100vw;
        width: 100vw;
        background-size:cover;        
    }
    #buttons{
        display: flex;
        flex-direction: row;
        padding: 0px 20%;

    }
    button{
        height: 40px;
        width: 150px;
        
    }
    div #title{
        display: none;
    }
    #text{
        display: none;
    }
}