.login{
    background-image: linear-gradient(0deg,rgba(0,0,0,.9) ,rgba(0,0,0,.3) 30%,rgba(0,0,0,.9)),url('https://browsecat.net/sites/default/files/netflix-background-128505-385456-9916359.png');
    height: 100vh;
    position: relative;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    margin: 0 240px;
    margin-top: 100px;
    margin-bottom: 0px;
    max-width: 950px;
    padding: 75px 0;
    text-align: center;
    width: 100%;
   

}
.logoo{
    position: fixed;
    top:33px;
    left: 53px;
    width: 167px;
    cursor: pointer;
    
}
.log1 > h1{
    font-size: 64px;
    margin: 0 74px;
}
.log1 > h2{
    margin: 16px 75px;
    font-size: 26px;
}
.log1 > h3{
    font-size: 19.2px;
    margin: 0px 47px 20px;
   
}
.lenguage{
    height: 35px;
    width: 95px;
    position: fixed;  
    right: 220px;
    top: 29px;
    z-index: 98;
}
.netbutton{
    height: 35px;
    width: 117px;
    position: fixed;  
    right: 65px;
    top: 30px;
    font-size: 16px;
    padding: 7px auto;
    font-weight: lighter;
    font-size: Arial,sans-serif;
    
}
.log1{
    text-align: center;
    width: 100%;
}
.netbutton2{
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    height: 70px !important;
    width: 228px;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 30px !important;
}
.netbutton2 > img{
    height: 35px;
    margin-top: 5px;
    margin-left: 8px;
}
.LogIn{
    
    background-color: rgb(252, 249, 249);
    height: 70px !important;
    width: 500px;
    padding: 10px 10px 0;
    font-size: 16px;
    font-weight: 700 !important;
    font-family: Helvetica, sans-serif;

}
.div-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 17px;
    flex-wrap: wrap;
}
.div-log div{
    max-width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}
